
<header>
<h1> Eat Da Burger! </h1> <img src="../assets/img/burger.png" width="100">
<hr>
</header>


<div class="row">
    <div class="col-md-6">

       <ul>

<h2> Burgers! </h2>

  {{#each burgers}}
    {{#unless devoured}}

  <li class="form-control">{{id}} - {{this.burger_name}}</li>

	<button class="devour" data-id="{{this.id}}" data-newDevoured="{{devoured}}"> DEVOUR! </button>

          {{/unless}}
        {{/each}}

      </div>
      </ul>

    <div class="col-md-6">
      <ul>
<h2>Devoured Burgers!</h2>
  {{#each burgers}}
  {{#if devoured}}
  <li class="form-control">
  {{this.id}} - {{this.burger_name}}
  </li>
  {{/if}}
  {{/each}}

</ul>
</div>
</div>

<div class="row">
    <div class="col-md-6">
      <ul>
<h2> Add a Burger to Eat </h2>
<form class="create-form">

  <div class="form-group">
    <input type="text" id="burger_name" name="burger">
  <button type="submit" id="add" class="create-form">Add Burger </button>
   </div>
</form>
</ul>


</div>
</div>





 